*{margin:0; padding:0;}
html,body{width:100%; height: 100%;}
body{
    display: flex;
    flex-direction: column;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
img{
   display: block;
   margin: 0 auto;
   width: 200px;
   height: 50px;
   top:10vh;
}
h1,th,td{text-align: center;}
.table_container{
	margin-left:auto;
	margin-right:auto;
	width:90%;
	display:flex;
	justify-content: center; 
}
table{
	width: 100%;
}
.acontainer>a,a:checked{
	color: white;
	background-color:blue;
	text-decoration: none;
	width: auto;
}
.acontainer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}